</br>
</br>



                <form action="<%=gossip_comment_path(content: params[:content])%>" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="user_id" value="<%= User.all.sample.id %>">
                  <div class="row">                    
                        <div class="col-lg-6">                     
                    </div>
                    <div class="col-lg-12">
                      <div class="form-group mt-3">
                       <input type="text" class="form-control" name="content" placeholder="Enter your comment..."> 
                      </div>
                    </div>
                    <div class="col-lg-12">
                     <button type="submit" class="btn btn-danger mt-3 mb-3 text-white border-0 py-2 px-3" ><span> Modifier mon commentaire ! <i class="ti-arrow-right"></i></span></button>
                    </div>
                  </div>
                </form>