<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">TheGossipProject</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/welcome/index">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/team/index">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact/index">Contact</a>
      </li>
      
    </ul>
  </div>
</nav>
<br/>
<h1>Gossip Details</h1>

<div>
  <p><strong>Title:</strong> <%= @gossip.title %></p>
  <p><strong>Content:</strong> <%= @gossip.content %></p>
  <p><strong>Author:</strong> <%= link_to @gossip.user.first_name, user_path(@gossip.user) %></p>
</div>
